

<div data-ng-controller="homeController as homeCtrl" layout="column" flex>
	<section layout="row" flex>

		<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" flex>
			<md-content layout-padding data-ng-controller="sidebarController as sidebarCtrl">

				<!--<md-button ng-click="sidebarCtrl.close()" class="md-primary" hide-gt-md>-->
					<!--Close Sidenav Left-->
				<!--</md-button>-->


				<md-chips ng-model="homeCtrl.tags" readonly="true">
					<md-chip-template ng-click="homeCtrl.click($chip)" style="color:{{$chip.color}}">
        		<span layout="row">
          		<strong>{{$chip.text}}</strong>
        		</span>
					</md-chip-template>
				</md-chips>

			</md-content>
		</md-sidenav>

		<md-content flex layout-padding>
			<div layout="column" layout-fill layout-align="top center">
				<md-list>
					<md-list-item ng-repeat="note in homeCtrl.notes |
						orderBy:homeCtrl.sortOrder">
						<span>
							<p>{{note}}</p>
						</span>
					</md-list-item>
				</md-list>
				<div>
			</div>
			<div flex></div>
		</md-content>

	</section>
</div>
