
html, body {
  font-family: 'Open Sans', sans-sarif;
  width: 280px;
  height: 470px;
  overflow: hidden;
  /* remove below line to remove centered view */
  margin:  0 auto;
}
body {
  border: 3px solid #666;
}
a:hover, a:focus {
  color: #F6B26B;
  text-decoration: none;
}
/*--------------------------
| MARGIN HELPER
--------------------------*/
.margin-top-15 {
  margin-top: 15px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-30 {
  margin-top: 30px;
}
.margin-auto {
  margin: auto;
}
/*--------------------------
| PADDING HELPER
--------------------------*/
.padding-15 {
  padding: 15px;
}
/*--------------------------
| FONT HELPER
--------------------------*/
.text-bold {
  font-weight: bold;
}
.text-deep-blue {
  color: #45818E;
}
.font-18 {
  font-size: 18px;
}
/*--------------------------
| PANEL
--------------------------*/
.panel {
  border-radius: 0;
  box-shadow: none;
}
.panel-default {
  background-color: #EEE;
  border: none;
}
.panel-title {
  font-size: 28px;
  color: #666;
}
.panel-default > .panel-heading {
  background-color: transparent;
  border-color: transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.panel-footer {
  background-color: transparent;
  border-color: transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.panel-primary {
  background-color: transparent;
  border: none;
}
.panel-title {
  font-size: 28px;
  color: #666;
}
.panel-primary > .panel-heading {
  background-color: #333333;
  border-color: transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.panel-primary > .panel-heading a {
  color: #fff;
  font-weight: bold;
}
.panel-primary > .panel-heading a.active {
  color: #F6B26B;
}
.panel-primary > .panel-body {
  padding: 0;
}
.panel-primary > .panel-heading .dropdown-menu a {
  color: black;
  font-weight: bold;
}
/*--------------------------
| NOTES ITEMS
--------------------------*/
.list-group-item {
  min-height: 100px;
}
.list-group-item a.note {
  display: block;
  text-decoration: none;
  color: #555;
}
.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.list-group-item:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
}
.list-group-item:focus, .list-group-item:hover {
  background-color: #f5f5f5;
  color: #555;
  text-decoration: none;
  cursor: pointer;
}
.list-group-item > .action {
  text-align: right;
}
/*--------------------------
| FORM
--------------------------*/
.btn {
  border-radius: 0;
}
.btn-outline {
  background-color: #fff;
  color: #F6B26B;
  border: 2px solid #F6B26B;
}
.form-control {
  border-radius: 0;
}
.form-control:focus {
  box-shadow: none;
}
textarea {
  resize:none;
}
