.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}

/* =============================== CSS for table ===========================*/
/* =========== taken from http://codepen.io/zavoloklom/pen/IGkDz ============*/


.table-striped.table-mc-light-blue > tbody > tr:nth-child(odd) > td,
.table-striped.table-mc-light-blue > tbody > tr:nth-child(odd) > th {
	background-color: #e1f5fe;
}
.table-hover.table-mc-light-blue > tbody > tr:hover > td,
.table-hover.table-mc-light-blue > tbody > tr:hover > th {
	background-color: #b3e5fc;
}
@media screen and (max-width: 767px) {
	.table-responsive-vertical .table-striped.table-mc-light-blue > tbody > tr > td,
	.table-responsive-vertical .table-striped.table-mc-light-blue > tbody > tr:nth-child(odd) {
		background-color: @table-bg;
	}
	.table-responsive-vertical .table-hover.table-mc-light-blue > tbody > tr:hover > td,
	.table-responsive-vertical .table-hover.table-mc-light-blue > tbody > tr:hover {
		background-color: @table-bg;
	}
	.table-responsive-vertical .table-hover.table-mc-light-blue > tbody > tr > td:hover {
		background-color: #b3e5fc;
	}
}


/* =============================== END OF CSS for table ===========================*/
/* ================================================================================*/
