<div class="panel panel-default" style="padding:15px 15px">
  <div class="panel-heading">
    <h1 class="panel-title text-center">Welcome to drops!</h1>
  </div>
  <div class="panel-body">
    <p class="font-18 text-center">drop your notes anywhere on the web</p>
    <form data-ng-submit="authCtrl.signin()" class="margin-top-15" accept-charset="utf-8">
      <div class="form-group">
        <!--<input type="email" class="form-control" id="email" name="email" data-ng-model="authCtrl.credentials.email" placeholder="E-mail">-->
        <input type="text" class="form-control" id="username" name="username" data-ng-model="authCtrl.credentials.username" placeholder="username">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="password" name="password" data-ng-model="authCtrl.credentials.password" placeholder="Password">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-block btn-primary">Sign in</button>
      </div>
      <div class="form-group">
        <ul class="list-inline text-center">
          <li>or via</li>
          <li><a href="#"><img src="../../../icons/facebook.png" alt="" style="width:40px"></a></li>
          <li><a href="#"><img src="../../../icons/g+.png" alt="" style="width:40px"></a></li>
        </ul>
      </div>
    </form>
  </div>

  <div class="panel-footer">
    <p class="pull-left">First time here?</p><p class="pull-right"><a  ui-sref="signUp">Sign up</a></p>
    <div class="clearfix"></div>
  </div>
</div>
