<div class="panel-heading" data-ng-controller="HeaderController as headerCtrl">
  <div class="pull-left">
    <ul class="list-inline">
      <li><a ng-class="{active : headerCtrl.viewState=='Page' }" ng-click="headerCtrl.stateChange('Page')">Page</a></li>
      <li><a ng-class="{active : headerCtrl.viewState=='Site' }" ng-click="headerCtrl.stateChange('Site')">Site</a></li>
    </ul>
  </div>
  <div class="pull-right">
    <ul class="list-inline">
      <li>
        <a ng-click="headerCtrl.goHome()">
          <span class="glyphicon glyphicon-home"></span>
        </a>
      </li>
      <!--settings dropdown-->
      <li class="btn-group" dropdown is-open="headerCtrl.status.isopen">
        <a type="button" role="button" class="dropdown-toggle" dropdown-toggle ng-disabled="disabled" ng-click="headerCtrl.toggleDropdown($event)">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
        <ul class="dropdown-menu margin-right-minus-130" role="menu">
          <li><a >Action</a></li>
          <li><a >Another action</a></li>
          <li class="divider"></li>
          <li><a ng-click="headerCtrl.signOut()">Signout</a></li>
        </ul>
      </li><!-- /.settings dropdown-->
    </ul>
  </div>
  <div class="clearfix"></div>
</div>
