<section>


  <div class="row" style="display: inline-block">
    <div class="col-sm-6" style="float: left">
      <a ng-click="homeCtrl.switchViewState('Page')">Page</a>
    </div>
    <div class="col-sm-6" style="float: right">
      <a ng-click="homeCtrl.switchViewState('Site')">Site</a>
    </div>
  </div>
  <div class="col-lg-3 ds">
    <h3 ng-if="homeCtrl.notesToShow.length !== 0">Your notes</h3>
    <h3 ng-if="homeCtrl.notesToShow.length == 0">No notes yet for this page. </h3>
    <a ui-sref="newNote" type="button" role="button">
      <span class="glyphicon glyphicon-plus"></span>
    </a>

    <div ng-repeat="note in homeCtrl.notesToShow">
      <div class="desc">
        <div class="thumb">
          <a ng-click="homeCtrl.editNote(note)" type="button" role="button">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
        </div> <br/>
        <div class="thumb">
          <a ng-click="homeCtrl.deleteNote(note)" type="button" role="button">
            <span class="glyphicon glyphicon-trash"></span>
          </a>
        </div>
        <div class="details">
          <p><a href="#">{{note.title}}</a> <br/>
            {{note.content}}<br/>
          </p>
        </div>
      </div>
    </div>
  </div>


</section>


