<div class="panel panel-primary">
  <div class="panel-heading" data-ng-controller="HeaderController as headerCtrl">
    <div class="pull-left">
      <ul class="list-inline">
        <li><a ng-class="{active : headerCtrl.viewState=='Page' }" ng-click="headerCtrl.stateChange('Page')">Page</a></li>
        <li><a ng-class="{active : headerCtrl.viewState=='Site' }" ng-click="headerCtrl.stateChange('Site')">Site</a></li>
      </ul>
    </div>
    <div class="pull-right">
      <ul class="list-inline">
        <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
        <!--settings dropdown-->
        <li class="btn-group" dropdown is-open="headerCtrl.status.isopen">
          <a type="button" role="button" class="dropdown-toggle" dropdown-toggle ng-disabled="disabled" ng-click="headerCtrl.toggleDropdown($event)">
            <span class="glyphicon glyphicon-cog"></span></a>
          </a>
          <ul class="dropdown-menu" style="margin: 0 0 0 -130px" role="menu">
            <li><a >Action</a></li>
            <li><a >Another action</a></li>
            <li class="divider"></li>
            <li><a ng-click="headerCtrl.signOut()">Signout</a></li>
          </ul>
        </li><!-- /.settings dropdown-->
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="panel-body">
    <div ng-if="homeCtrl.notesToShow.length == 0">
      <div class="panel-body">
        <h2 class="text-center">Hey {{homeCtrl.authentication.user.username}}!</h2>
        <br>
        <h3 class="text-center">No notes yet for this page</h3>
        <br>
        <button class="btn btn-block btn-primary margin-auto" ng-click="homeCtrl.newNote()">drop one</button>
      </div>
    </div>

    <div ng-if="homeCtrl.notesToShow.length !== 0">
      <div class="padding-15">
        <div class="pull-left">
          <h4 class="text-bold text-deep-blue">{{homeCtrl.authentication.user.username}}'s notes</h4>
        </div>
        <div class="pull-right">
          <button ng-click="homeCtrl.newNote()" class="btn btn-sm btn-outline"><span class="glyphicon glyphicon-plus"></span></button>
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="list-group">
        <div class="list-group-item" ng-repeat="note in homeCtrl.notesToShow" ng-mouseenter="homeCtrl.noteHover(note)" ng-mouseleave="homeCtrl.noteHover(note)">
          <a class="note" href="#">
            <h4 class="list-group-item-heading">{{note.title}}</h4>
            <p class="list-group-item-text small">{{note.content}}</p>
          </a>
          <div class="action" ng-show="note.showHidden">
            <a class="text-danger" ng-click="homeCtrl.deleteNote(note)">delete</a> &nbsp; <a ng-click="homeCtrl.editNote(note)">edit</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-footer"></div>

</div>



