<!doctype html>
<html data-ng-app="dropsForChrome" data-ng-csp="">
<head>
  <meta charset="UTF-8">
  <title>Drops</title>
  <link rel="stylesheet" href="../../../lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../../lib/angular/angular-csp.css">
  <link rel="stylesheet" href="../css/core.css">
</head>

<body>
<div class="container">
  <h3>Hello Drops</h3>
</div>

<script src="../../../lib/angular/angular.min.js"></script>
<script src="../../../lib/angular-resource/angular-resource.min.js"></script>
<script src="../../../lib/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="../../../config.js"></script>
<script src="../../../application.js"></script>


</body>

</html>