
<div class="panel panel-primary">

  <div class="panel-heading" data-ng-controller="HeaderController as headerCtrl">
    <div class="pull-left">
      <ul class="list-inline">
        <li><a href="#" class="active" ng-click="headerCtrl.stateChange('Page')">Page</a></li>
        <li><a href="#" ng-click="headerCtrl.stateChange('Site')">Site</a></li>
      </ul>
    </div>
    <div class="pull-right">
      <ul class="list-inline">
        <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
        <!--settings dropdown-->
        <li class="btn-group" dropdown is-open="headerCtrl.status.isopen">
          <a type="button" role="button" class="dropdown-toggle" dropdown-toggle ng-disabled="disabled" ng-click="headerCtrl.toggleDropdown($event)">
            <span class="glyphicon glyphicon-cog"></span></a>
          </a>
          <ul class="dropdown-menu margin-right-minus-130" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a ng-click="headerCtrl.signOut()">Signout</a></li>
          </ul>
        </li><!-- /.settings dropdown-->
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>

  <form name="noteForm" data-ng-submit="notesCtrl.create()" novalidate class="margin-top-20" accept-charset="utf-8">

    <div class="panel-body">
      <!--<div class="form-group" ng-class="{ 'has-error': articleForm.title.$dirty && articleForm.title.$invalid }">-->
      <div class="form-group">
        <div class="controls">
          <input name="title" type="text" data-ng-model="notesCtrl.title" id="title" class="form-control input-lg" placeholder="Title" required>
        </div>
      </div>
      <div class="form-group">
        <textarea name="content" data-ng-model="notesCtrl.content" id="content" class="form-control" rows="7" placeholder="Your notes here"></textarea>
      </div>
      <!--<div class="form-group">-->
        <!--<input type="text" class="form-control" id="tags" name="tags" placeholder="#tags">-->
      <!--</div>-->
      <tags-input data-ng-model="notesCtrl.tags"></tags-input>
    </div>

    <div class="panel-footer">

      <div class="pull-left">
        <button ui-sref="home" class="btn btn-default">back</button>
      </div>
      <div class="pull-right">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
      <div class="clearfix"></div>

    </div>
  </form>
</div>
